.icon {
  background-color: var(--primary);
  width: fit-content;
  border-radius: 0.5rem;
  box-sizing: border-box;
  padding: 1rem;
  transition: all 0.2s ease-in-out;
}

.icon:hover {
  filter: brightness(80%);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
