.container {
  font-size: 4.2rem;
  font-weight: bold;
  color: var(--primary);
}

.logo {
  text-decoration: none;
  color: inherit;
  transition: all 0.2s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container svg {
  width: 6.4rem;
  height: 6.4rem;
}

.logo:hover {
  filter: brightness(80%);
}
