.container {
  display: flex;
  width: 20rem;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.cycle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.break {
  background-color: var(--success);
}

.work {
  background-color: var(--warning);
}

.rest {
  background-color: var(--info);
}

.title {
  text-align: center;
  margin-bottom: 1rem;
}
